<div id="<%= dom_id membership %>">
  <p>
    <strong>User:</strong>
    <%= membership.user_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= membership.company_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= membership.role %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= membership.status %>
  </p>

</div>
