
<%= simple_form_for(@prompt) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :company %>
    <%= f.association :created_by %>
    <%= f.input :instruction %>
    <%= f.input :status %>
    <%= f.input :frozen_at %>
    <%= f.input :llm_provider %>
    <%= f.input :llm_model %>
    <%= f.input :prompt_snapshot %>
    <%= f.input :settings %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
