<div id="<%= dom_id prompt %>">
  <p>
    <strong>Company:</strong>
    <%= prompt.company_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= prompt.created_by_id %>
  </p>

  <p>
    <strong>Instruction:</strong>
    <%= prompt.instruction %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= prompt.status %>
  </p>

  <p>
    <strong>Frozen at:</strong>
    <%= prompt.frozen_at %>
  </p>

  <p>
    <strong>Llm provider:</strong>
    <%= prompt.llm_provider %>
  </p>

  <p>
    <strong>Llm model:</strong>
    <%= prompt.llm_model %>
  </p>

  <p>
    <strong>Prompt snapshot:</strong>
    <%= prompt.prompt_snapshot %>
  </p>

  <p>
    <strong>Settings:</strong>
    <%= prompt.settings %>
  </p>

</div>
