<div id="<%= dom_id attachment %>">
  <p>
    <strong>Company:</strong>
    <%= attachment.company_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= attachment.created_by_id %>
  </p>

  <p>
    <strong>Attachable:</strong>
    <%= attachment.attachable_id %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= attachment.kind %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= attachment.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= attachment.body %>
  </p>

  <p>
    <strong>Metadata:</strong>
    <%= attachment.metadata %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= attachment.status %>
  </p>

</div>
