<section class="auth-page">
  <div class="auth-card">
    <p class="auth-card__eyebrow">EvidentAI</p>
    <h1 class="auth-card__title">Welcome back</h1>
    <p class="auth-card__subtitle">Sign in to continue in your company workspace.</p>

    <% flash.each do |key, value| %>
      <div class="auth-flash auth-flash--<%= key %>"><%= value %></div>
    <% end %>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "auth-form" }) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    label: "Work email",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>

    <div class="auth-links">
      <% if devise_mapping.registerable? %>
        <span>New here?</span>
        <%= link_to "Create company + account", new_registration_path(resource_name) %>
      <% end %>

      <% if devise_mapping.recoverable? %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %>
      <% end %>
    </div>
  </div>
</section>
