<div id="<%= dom_id output %>">
  <p>
    <strong>Prompt:</strong>
    <%= output.prompt_id %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= output.kind %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= output.content %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= output.status %>
  </p>

</div>
